<div>
  <mat-form-field class="display" appearance="fill">
    <input matInput class="input-box" value="{{ display }}" />
  </mat-form-field>

  <div class="numbers">
    <button
      mat-raised-button
      class="num"
      (click)="selectedNum(1)"
    >
      1
    </button>
    <button
      mat-raised-button
      class="num"
      (click)="selectedNum(2)"
    >
      2
    </button>
    <button
      mat-raised-button
      class="num"
      (click)="selectedNum(3)"
    >
      3
    </button>
    <button
      mat-raised-button
      class="num"
      (click)="selectedNum(4)"
    >
      4
    </button>
    <button
      mat-raised-button
      class="num"
      (click)="selectedNum(5)"
    >
      5
    </button>
    <button
      mat-raised-button
      class="num"
      (click)="selectedNum(6)"
    >
      6
    </button>
    <button
      mat-raised-button
      class="num"
      (click)="selectedNum(7)"
    >
      7
    </button>
    <button
      mat-raised-button
      class="num"
      (click)="selectedNum(8)"
    >
      8
    </button>
    <button
      mat-raised-button
      class="num"
      (click)="selectedNum(9)"
    >
      9
    </button>
    <button
      mat-raised-button
      class="num"
      (click)="selectedNum(0)"
    >
      0
    </button>
    <button
      mat-raised-button
      class="num"
      (click)="selectedOperation('.')"
    >
      .
    </button>
  </div>

  <div class="operations">
    <button mat-raised-button class="op add" (click)="selectedOperation('+')">
      +
    </button>
    <button mat-raised-button class="op sub" (click)="selectedOperation('-')">
      -
    </button>
    <button mat-raised-button class="op mul" (click)="selectedOperation('*')">
      X
    </button>
    <button mat-raised-button class="op div" (click)="selectedOperation('/')">
      /
    </button>
    <button mat-raised-button class="op eq" (click)="calculate()">=</button>
    <button mat-raised-button class="op clear" (click)="clear()">C</button>
  </div>
</div>
