.numbers {
  display: grid;
  justify-items: center;
  grid-template-columns: 88px 88px 88px;
  grid-template-rows: 30px 30px 30px 30px;
  row-gap: 20px;
  padding-bottom: 20px;
}

.operations {
  display: grid;
  justify-items: center;
  grid-template-columns: 88px 88px 88px;
  grid-template-rows: 30px 30px;
  row-gap: 20px;
}

.display {
  margin: 10px;
  width: 240px;
  height: fit-content;
}

.input-box{
  color: white;
}
