body{
  background-color: rgb(48, 48, 48) !important;
  color: white;
}

.options {
  flex: 1 1 auto;
}
a {
  color: white !important;
  text-decoration: none;
}
.nav-links {
  border: none !important;
  background-color: transparent !important;
  text-decoration: none !important;
  color: white !important;
  font-size: large;
}
