<div class="register-form">
  <h1>All Users</h1>
  {{ users }}

  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        formControlName="username"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
      />
      <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
        <div *ngIf="f['username'].errors['required']">Username is required</div>
      </div>
    </div>
    <div class="panel-body" formGroupName="name">
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input
          type="text"
          formControlName="first_name"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['first_name'].errors }"
        />
        <div
          *ngIf="submitted && f['first_name'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['first_name'].errors['required']">
            First Name is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="middle_name">Middle name</label>
        <input
          type="text"
          formControlName="middle_name"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['middle_name'].errors }"
        />
        <div
          *ngIf="submitted && f['middle_name'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['middle_name'].errors['required']">
            Middle Name is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input
          type="text"
          formControlName="last_name"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['last_name'].errors }"
        />
        <div
          *ngIf="submitted && f['last_name'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['last_name'].errors['required']">
            Lastname is required
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        formControlName="email"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
      />
      <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
        <div *ngIf="f['email'].errors['required']">Email is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="gender">Gender</label>
      <input
        type="text"
        formControlName="gender"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['gender'].errors }"
      />
      <div *ngIf="submitted && f['gender'].errors" class="invalid-feedback">
        <div *ngIf="f['gender'].errors['required']">Gender is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="phone_number">Phone</label>
      <input
        type="text"
        formControlName="phone_number"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['phone_number'].errors }"
      />
      <div
        *ngIf="submitted && f['phone_number'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="f['phone_number'].errors['required']">
          Phone is required
        </div>
      </div>
    </div>
    <div class="form-group">
      <button mat-raised-button color="accent" type="submit">
        Register
      </button>
    </div>
  </form>
</div>
